<div id="<%= dom_id auction %>">
  <p>
    <strong>Name:</strong>
    <%= auction.name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= auction.start_time %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= auction.month %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= auction.day %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= auction.year %>
  </p>

</div>
